input {
  font-family: inherit;
  margin-bottom: 15px;
  width: 230px;
  padding: 2px 25px 6px 8px;
  font-size: 17px;
  background: none;
  color: #FAEFD4;
  outline: none;
  border: none;
  border-bottom: 1px solid rgba(0,0,0,0);
  border-left: 1px solid #FAEFD4;
}
input::placeholder {
  color: #FAEFD4;
}
label {
  position: absolute;
  bottom: 15px;
  left: 0;
  height: 1px;
  height: 1px;
  width: 0px;
  background-color: #FAEFD4;
  transition: 0.2s linear;
}
input:focus ~ label {
  width: 100%;
}
div {
  position: relative;
  align-self: center;
}
img {
  position: absolute;
  width: 12px;
  bottom: 24px;
  right: 8px;
  cursor: pointer;
}
img:active {
  opacity: 0.6;
}
form {
  position: relative;
}
form .tooltiptext {
  width: 245px;
  border: 1px solid #FAEFD4;
  background-color: #333333;
  color: #FAEFD4;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 29%;
  margin-left: -60px;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
form .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #FAEFD4 transparent transparent transparent;
}
