.container {
  background: #000000;
  display: flex;
  align-items: center;
  height: 52px;
  justify-content: space-between;
}
span {
  color: #FAEFD4;
}
.label {
  margin: 20px;
}
.userInfo {
  display: flex;
  align-items: center;
}
img.user {
  width: 28px;
  padding: 10px;
  padding-right: 0;
}
img.expand {
  width: 14px;
  padding: 13px;
  transform: rotateZ(-90deg);
  transition: transform 0.2s linear;
  cursor: pointer;
}
img.expand.active {
  transform: rotateZ(0);
}