<header>
  <div class="container">
  <svg width="200" height="52">
    <text x="15" y="38" fill="none" stroke="#FAEFD4" id="text-logo" stroke-width="1" font-size="25">ORGANIZER</text>
  </svg>
    <div *ngIf="userName" class="userInfo">
      <span>
        {{userName}}
      </span>
      <span>
        <img class="user" src="../../../assets/user.svg" alt="user" />
        <img (click)="toggleWindow()"  class="expand" [class.active]="isOpenWindow" src="../../../assets/expand-button.svg" alt="btn" />
        <app-setting-window [isOpenWindow]="isOpenWindow" (close)="toggleWindow()" (openSitting)="openSetting()" (confirmSignOut)="confirmSignOut()"></app-setting-window>
      </span>
    </div>
  </div>
</header>