<header>
  <div class="container">
    <span class="label">Organizer</span>
    <div *ngIf="userName" class="userInfo">
      <span>
        {{userName}}
      </span>
      <span>
        <img class="user" src="../../../assets/user.svg" alt="user" />
        <img (click)="toggleWindow()"  class="expand" [class.active]="isOpenWindow" src="../../../assets/expand-button.svg" alt="btn" />
        <app-setting-window [isOpenWindow]="isOpenWindow" (close)="toggleWindow()"></app-setting-window>
      </span>
    </div>
  </div>
</header>