<div class="container" *ngIf="item">
  <div>
    <div class="head">
      <h2>
        {{ item.title }}
      </h2>
    </div>
    <div class="content">
      <div *ngIf="item.mapMarker?.address; else addresPlaceHolder" class="address" appMapTooltip>
        {{ item.mapMarker.address | capitalize }}
        <app-google-map [mapMarker]="item.mapMarker" [mapZoom]="14" class="mapTooltip"></app-google-map>
      </div>
      <ng-template #addresPlaceHolder>
        <div class="address">
          You dont select an address
        </div>
      </ng-template>
      <div class="description">
        {{ item.description }}
      </div>
      <div class="state">State: <span>{{ item.completed ? 'done' : 'not done' }}</span></div>
      <div class="date">{{ item?.dueDate | date }}</div>
      <div class="btnContainer">
        <button (click)="openEditForm()" [disabled]="item.id < 0">EDIT ITEM</button>
        <button (click)="deleteItem()" [disabled]="item.id < 0">DELETE ITEM</button>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
