.container {
  margin-bottom: 6px;
  padding: 10px 15px;
  font-size: 18px;
  background: rgba(255,255,255,0.15);
  color: #FAEFD4;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  height: 32px;
  align-items: center;
  transition: transform .2s ease-in-out;
}
.container:hover {
  transform: translateX(3px);
  cursor: pointer;
}
img {
  width: 18px;
  -webkit-user-drag: none;
}
img:active {
  opacity: 0.6;
}