.container {
  position: relative;
  margin-bottom: 6px;
  padding: 10px 15px;
  font-size: 18px;
  background: rgba(255,255,255,0.15);
  color: #FAEFD4;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  height: 32px;
  cursor: pointer;
  align-items: center;
  transition: transform .2s ease-in-out;
}
.container.disabled {
  opacity: 0.3;
}
.container.disabled:hover {
  transform: none;
  cursor: default;
}
.container:hover {
  transform: translateX(3px);
  cursor: pointer;
}
img {
  width: 18px;
  margin-left: 12px;
  -webkit-user-drag: none;
}
.container.disabled:hover img:active {
  opacity: inherit;
}
img:active {
  opacity: 0.6;
}
input {
  width: 218px;
  font-size: 18px;
  font-family: inherit;
  background: none;
  border: none;
  color: inherit;
  outline: none;
  cursor: inherit;
}
input:focus {
  cursor: text;
}
span {
  position: absolute;
  top: 3px;
  right: 41px;
  font-size: 10px;
  font-style: italic;
  animation: fade 3s linear infinite;
}
.activeList {
  background: #867f7f;
}

@keyframes fade {
  from { opacity: 0; }
  50% { opacity: 0.6; }
  to { opacity: 0; }
}