<div class="outside">
  <div class="container">
    <h3>{{savedItem?.title}}</h3>
    <div class="upperPanel">
      <div>
        <span>Done </span>
        <div class="cntr" *ngIf="item">
          <input [(ngModel)]="item.completed" type="checkbox" id="complete" />
          <label for="complete" class="cbx"></label>
          <label for="complete" class="lbl"></label>
        </div>
      </div>
      <div class="btns">
        <button (click)="saveChanges()">SAVE CHANGES</button>
        <button (click)="closeForm()">CLOSE</button>
      </div>
    </div>
    <span class="titleContainer">
      <input type="text" id="title" [(ngModel)]="item.title" placeholder="Title" />
      <label for="title"></label>
    </span>
    <span class="descriptionContainer">
      <textarea [(ngModel)]="item.description" id="description" placeholder="Description"></textarea>
      <label for="description"></label>
    </span>
    <div class="inline-flex">
      <form #myForm="ngForm" novalidate>
        <my-date-picker name="mydate" [options]="myDatePickerOptions" (dateChanged)="dateChanges($event)" [(ngModel)]="dateModel" required></my-date-picker>
      </form>
      <input placeholder="Search for location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="search" #search>
    </div>
    <agm-map
      [styles]="googleMapStyles"
      [latitude]="item.mapMarker && item.mapMarker.latitude
        ? item.mapMarker.latitude
        : markerConfig.latitude"
      [longitude]="item.mapMarker && item.mapMarker.longitude
        ? item.mapMarker.longitude
        : markerConfig.longitude"
      [zoom]="markerConfig.zoom"
      backgroundColor="none"
      (mapReady)="mapReady($event)"
      #map
    >
      <agm-marker
        (dragEnd)="dragEnd($event)"
        [latitude]="item.mapMarker && item.mapMarker.latitude
          ? item.mapMarker.latitude
          : markerConfig.latitude"
        [longitude]="item.mapMarker && item.mapMarker.longitude
          ? item.mapMarker.longitude
          : markerConfig.longitude"
        [iconUrl]="markerConfig.iconUrl"
        [markerDraggable]="markerConfig.markerDraggable"
      >
        <agm-snazzy-info-window [maxWidth]="200" [closeWhenOthersOpen]="true" [isOpen]="!!item.mapMarker?.address">
          <ng-template>
            {{item.mapMarker?.address || "Move the marker to a specific address"}}
          </ng-template>
        </agm-snazzy-info-window>
      </agm-marker>
    </agm-map>
  </div>
</div>
