.container {
  position: absolute;
  top: 52px;
  right: 0;
  width: 90px;
}
li {
  padding: 10px;
  background: black;
  transition: background-color 0.07s linear;
  cursor: pointer;
}
li:hover {
  background: rgba(255,255,255,0.15);
}