span {
  position: relative;
  height: 60px;
  display: inline-block;
  width: 100%;
}
label {
  position: absolute;
  width: 0;
  height: 2px;
  background: rgb(255, 255, 255);
  bottom: 15px;
  left: 0;
  transition: all 0.2s linear;
}
input:focus ~ label {
  width: 100%;
}
h3 {
  margin: 0 0 20px 0;
  color: #ffffff;
}
input {
  width: 100%;
  margin-bottom: 15px;
  outline: none;
  background: none;
  border-radius: none;
  border: none;
  border-left: 2px solid #ffffff;
  border-bottom: 2px solid rgba(0,0,0,0);
  padding: 10px;
  color: #ffffff;
  font-size: 18px;
  font-family: inherit;
  transition: all .2s linear;
}
input:-webkit-autofill {
  -webkit-text-fill-color: #ffffff;
  box-shadow: 0 0 0px 1000px none inset;
  transition: background-color 5000s ease-in-out 0s;
}
input::placeholder {
  color: #ffffff;
}
.toggler, .validationmessage {
  margin-top: 12px;
  color: white;
  height: 32px;
  line-height: 32px;
}
.toggler > span {
  cursor: pointer;
  display: initial;
}
.toggler > span:hover {
  opacity: 0.8;
}
button {
  outline: none;
  padding: 6px 24px;
  border-radius: 4px;
  border: none;
  background: #ffffff;
  color: rgba(0,0,0,0.8);
  font-size: 16px;
  margin-top: 12px;
  font-family: inherit;
  cursor: pointer;
}
button:disabled {
  background: #cccccc;
  color: #666666;
  cursor: default;
}
/*test animation*/
form {
  display: flex;
  flex-direction: column;
  position: absolute;
  padding: 30px;
  margin: 0;
  width: 100%;
  height: auto;
  backface-visibility: hidden;
  margin-top: -82px;
  border: 1px solid #ffffff;
  border-radius: 6px;
  transform: rotateY( 180deg );
}
.formField.flipped {
  transform: rotateY( 180deg );
}
img {
  width: 18px;
  margin-left: -5px;
}
input.error, .emailMatch > span > input {
  border-left-color: #FF9494;
  color: #FF9494;
}
input.error ~ label, .emailMatch > span > input ~ label {
  background: #FF9494;
}