<div class="outside">
  <div class="container">
    <div class="formField" [class.flipped]="authMod === 'Sign up'">
      <form (ngSubmit)="signIn()" class="front" [formGroup]="signInForm">
        <h3>Sign In</h3>
        <span>
          <input
            id="signInEmail"
            type="text"
            placeholder="Email"
            autocomplete="off"
            formControlName="email" />
          <label for="signInEmail"></label>
        </span>
        <span>
          <input
            id="signInPassword"
            type="password"
            placeholder="Password"
            formControlName="password"
            autocomplete="off" />
          <label for="signInPassword"></label>
        </span>
        <button type="submit">Sign in</button>
        <div class="toggler">New to Organizer? <span (click)="toggleMod()">Sign up</span></div>
      </form>
      <form (ngSubmit)="signUp()" class="back" [formGroup]="signUpForm">
        <h3>Sign up</h3>
        <div formGroupName="emailGroup">
          <span>
            <input
              id="signUpEmail"
              type="text"
              placeholder="Email"
              formControlName="email"
              autocomplete="off" />
            <label for="signUpEmail"></label>
          </span>
          <span>
            <input
              id="emailConfirm"
              type="text"
              placeholder="Confirm email"
              formControlName="emailConfirm"
              autocomplete="off" />
            <label for="emailConfirm"></label>
          </span>
        </div>
        <span>
          <input
            id="signUpPassword"
            type="password"
            placeholder="Password"
            formControlName="password"
            autocomplete="off" />
          <label for="signUpPassword"></label>
        </span>
        <button type="submit">Create an account</button>
        <div class="toggler">Are you have an account? <span (click)="toggleMod()">Sign in</span></div>
        <div *ngIf="errorMessages" class="toggler">{{errorMessages}}</div>
      </form>
    </div>
    <div>1111111111111111</div>
  </div>
</div>
<div>{{signInForm.value | json}}</div>
<div>{{signUpForm.value | json}}</div>
<!-- <div *ngIf="errorMessages">{{errorMessages}}</div> -->